<%= render 'users/list' %>
<%= render 'books/list', book:@book %>

<h2>Users</h2>

<table>
    <thead>
        <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |users| %>
        <tr>
            <th><%= attachment_image_tag users, :profile_image_id, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></th>
            <th>
                <%= users.name %>
            </th>
            <th><%= link_to "show", user_path(users.id) %></th>
        </tr>
        <% end %>
    </tbody>
</table>